
body{
    margin: 0;
    padding-top: 50px;
}

body.index{
    background-color: #f4f4f4;
}
body.register{
    background-color: #fff3e0;
}
body.register, body.login .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
body.register form, body.login form{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

body.login{
    background-color: #e0f7fa;
}

.container{
    margin: 10px;
}
nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    display: block;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
nav ul li a:hover{
    background-color: #575757;
    color: white;
}
nav ul li a.active{
    background-color: #575757;
    color: yellow;
}
